.pdf-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.pdf-pdf {
  width: 100%;
  height: 1585px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pdf-page2 {
  gap: 10px;
  top: 793px;
  left: 0px;
  width: 612px;
  height: 792px;
  display: flex;
  padding: 26px 29px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.pdf-frame1 {
  width: 612px;
  height: 792px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pdf-text100 {
  top: 24.98808479309082px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 35px;
  height: auto;
  position: absolute;
  font-size: 10.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text101 {
  top: 39.19395446777344px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 8.817187309265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text102 {
  top: 39.19395446777344px;
  left: 455.5828552246094px;
  color: rgba(0, 0, 0, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 8.66249942779541px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text103 {
  top: 53.400718688964844px;
  left: 38.32099914550781px;
  color: rgba(0, 0, 0, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 10.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text104 {
  top: 55.21395492553711px;
  left: 49.20000076293945px;
  color: rgba(0, 0, 0, 1);
  width: 195px;
  height: auto;
  position: absolute;
  font-size: 9.590624809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text105 {
  top: 67.10991668701172px;
  left: 38.76499938964844px;
  color: rgba(0, 0, 0, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 11.956000328063965px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text117 {
  top: 158.26808166503906px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 188px;
  height: auto;
  position: absolute;
  font-size: 10.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text118 {
  top: 158.92495727539062px;
  left: 448.7669982910156px;
  color: rgba(0, 0, 0, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text119 {
  top: 172.47496032714844px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text120 {
  top: 172.47496032714844px;
  left: 502.3089904785156px;
  color: rgba(0, 0, 0, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 9.43593692779541px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text121 {
  top: 186.6817169189453px;
  left: 38.321998596191406px;
  color: rgba(0, 0, 0, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 10.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text122 {
  top: 188.4949493408203px;
  left: 49.20000076293945px;
  color: rgba(0, 0, 0, 1);
  width: 322px;
  height: auto;
  position: absolute;
  font-size: 9.43593692779541px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text123 {
  top: 203.37892150878906px;
  left: 38.76499938964844px;
  color: rgba(0, 0, 0, 1);
  width: 276px;
  height: auto;
  position: absolute;
  font-size: 9.43593692779541px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text124 {
  top: 218.3229217529297px;
  left: 38.76499938964844px;
  color: rgba(0, 0, 0, 1);
  width: 344px;
  height: auto;
  position: absolute;
  font-size: 9.43593692779541px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text125 {
  top: 248.38308715820312px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 11.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-vector10 {
  top: 261.06298828125px;
  left: 28.799999237060547px;
  width: 554px;
  height: 1px;
  position: absolute;
}
 
.pdf-text126 {
  top: 269.63494873046875px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 453px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text127 {
  top: 284.5789489746094px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 325px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text128 {
  top: 299.52294921875px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text129 {
  top: 314.4669494628906px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 357px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text130 {
  top: 329.41094970703125px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 336px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text131 {
  top: 350.4450988769531px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 11.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-vector11 {
  top: 363.125px;
  left: 28.799999237060547px;
  width: 554px;
  height: 1px;
  position: absolute;
}
 
.pdf-text132 {
  top: 372.0799255371094px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 509px;
  height: auto;
  position: absolute;
  font-size: 9.590624809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 13.946999549865723px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text136 {
  top: 399.97491455078125px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 432px;
  height: auto;
  position: absolute;
  font-size: 9.590624809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text137 {
  top: 422.0650939941406px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 61px;
  height: auto;
  position: absolute;
  font-size: 11.714061737060547px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-vector12 {
  top: 434.7460021972656px;
  left: 28.799999237060547px;
  width: 554px;
  height: 1px;
  position: absolute;
}
 
.pdf-text138 {
  top: 444.7559509277344px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text139 {
  top: 458.7039489746094px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text140 {
  top: 472.6509704589844px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text141 {
  top: 486.5989685058594px;
  left: 39.5989990234375px;
  color: rgba(0, 0, 0, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text142 {
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  z-index: 1;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-page1 {
  gap: 108px;
  top: 0px;
  left: 0px;
  width: 612px;
  height: 792px;
  display: flex;
  padding: 197px 29px;
  overflow: hidden;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.pdf-frame2 {
  width: 100%;
  height: 792px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pdf-text143 {
  top: 25.79743003845215px;
  left: 208.10299682617188px;
  color: rgba(0, 0, 0, 1);
  width: 195px;
  height: auto;
  position: absolute;
  font-size: 24.700000762939453px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text144 {
  top: 45.5120849609375px;
  left: 244.8520050048828px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 10.559374809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text145 {
  top: 59.425086975097656px;
  left: 31.590999603271484px;
  color: rgba(0, 0, 0, 1);
  width: 226px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Solid;
  text-align: left;
  font-family: Font Awesome 5 Free;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text147 {
  font-weight: 400;
}
 
.pdf-text149 {
  font-weight: 400;
}
 
.pdf-vector13 {
  top: 69.36699676513672px;
  left: 116.27300262451172px;
  width: 125px;
  height: 1px;
  position: absolute;
}
 
.pdf-text150 {
  top: 62.22931671142578px;
  left: 244.1269989013672px;
  color: rgba(0, 0, 0, 1);
  width: 23px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Font Awesome 5 Brands;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text151 {
  top: 59.12095642089844px;
  left: 256.1659851074219px;
  color: rgba(0, 0, 0, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-vector14 {
  top: 69.91999816894531px;
  left: 256.1659851074219px;
  width: 185px;
  height: 1px;
  position: absolute;
}
 
.pdf-text152 {
  top: 62.27131652832031px;
  left: 444.90301513671875px;
  color: rgba(0, 0, 0, 1);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Font Awesome 5 Brands;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text153 {
  top: 59.12095642089844px;
  left: 457.86700439453125px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 9.43593692779541px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-vector15 {
  top: 69.91999816894531px;
  left: 457.86700439453125px;
  width: 122px;
  height: 1px;
  position: absolute;
}
 
.pdf-text154 {
  top: 75.06095886230469px;
  left: 215.9199981689453px;
  color: rgba(0, 0, 0, 1);
  width: 176px;
  height: auto;
  position: absolute;
  font-size: 9.590624809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text155 {
  top: 91.9970932006836px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 11.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-vector16 {
  top: 104.6780014038086px;
  left: 28.799999237060547px;
  width: 554px;
  height: 1px;
  position: absolute;
}
 
.pdf-text156 {
  top: 113.69308471679688px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 548px;
  height: auto;
  position: absolute;
  font-size: 10.38906192779541px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 13.548999786376953px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text164 {
  top: 176.9150848388672px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 11.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-vector17 {
  top: 189.59500122070312px;
  left: 28.799999237060547px;
  width: 554px;
  height: 1px;
  position: absolute;
}
 
.pdf-text165 {
  top: 196.5330810546875px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 10.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text166 {
  top: 210.73995971679688px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 9.43593692779541px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text167 {
  top: 210.73995971679688px;
  left: 458.9083557128906px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 8.817187309265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text168 {
  top: 227.51695251464844px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 9.590624809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text169 {
  top: 241.2259521484375px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text170 {
  top: 254.93495178222656px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 9.43593692779541px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text171 {
  top: 283.4891052246094px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 11.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-vector18 {
  top: 296.1700134277344px;
  left: 28.799999237060547px;
  width: 554px;
  height: 1px;
  position: absolute;
}
 
.pdf-text172 {
  top: 302.1120910644531px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 10.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text173 {
  top: 316.3179626464844px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 571px;
  height: auto;
  position: absolute;
  font-size: 9.590624809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text174 {
  top: 336.0839538574219px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 9.28125px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text175 {
  top: 350.7899475097656px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 504px;
  height: auto;
  position: absolute;
  font-size: 9.28125px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 11.954999923706055px;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text179 {
  top: 377.449951171875px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 450px;
  height: auto;
  position: absolute;
  font-size: 9.28125px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text180 {
  top: 392.15496826171875px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 448px;
  height: auto;
  position: absolute;
  font-size: 9.126562118530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text181 {
  top: 414.45208740234375px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 11.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-vector19 {
  top: 427.1319885253906px;
  left: 28.799999237060547px;
  width: 554px;
  height: 1px;
  position: absolute;
}
 
.pdf-text182 {
  top: 433.0740966796875px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 10.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text183 {
  top: 447.27996826171875px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 8.817187309265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text184 {
  top: 447.27996826171875px;
  left: 464.5133056640625px;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 8.817187309265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text185 {
  top: 468.04296875px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 417px;
  height: auto;
  position: absolute;
  font-size: 9.590624809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text186 {
  top: 485.7369689941406px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 9.126562118530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text187 {
  top: 502.4349670410156px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 393px;
  height: auto;
  position: absolute;
  font-size: 9.745311737060547px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text188 {
  top: 520.1289672851562px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 437px;
  height: auto;
  position: absolute;
  font-size: 9.590624809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text189 {
  top: 537.8229370117188px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text190 {
  top: 570.5830688476562px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 44px;
  height: auto;
  position: absolute;
  font-size: 10.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text191 {
  top: 571.2399291992188px;
  left: 448.7669982910156px;
  color: rgba(0, 0, 0, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text192 {
  top: 584.7899780273438px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text193 {
  top: 584.7899780273438px;
  left: 491.2229919433594px;
  color: rgba(0, 0, 0, 1);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 9.126562118530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text194 {
  top: 605.5519409179688px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 9.126562118530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text195 {
  top: 623.2459716796875px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 9.126562118530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text196 {
  top: 639.9439697265625px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 434px;
  height: auto;
  position: absolute;
  font-size: 9.28125px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text197 {
  top: 672.7041015625px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 10.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text198 {
  top: 673.3609619140625px;
  left: 491.5710144042969px;
  color: rgba(0, 0, 0, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text199 {
  top: 686.9109497070312px;
  left: 28.799999237060547px;
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 9.28125px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text200 {
  top: 686.9109497070312px;
  left: 470.35699462890625px;
  color: rgba(0, 0, 0, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 8.817187309265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text201 {
  top: 711.1399536132812px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 9.28125px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text202 {
  top: 727.8379516601562px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 454px;
  height: auto;
  position: absolute;
  font-size: 9.126562118530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text203 {
  top: 744.5359497070312px;
  left: 52.79999923706055px;
  color: rgba(0, 0, 0, 1);
  width: 316px;
  height: auto;
  position: absolute;
  font-size: 9.28125px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text204 {
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  z-index: 1;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text205 {
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  z-index: 2;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.pdf-text206 {
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  z-index: 3;
  font-size: 9.899999618530273px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
